{% extends 'base.html' %}
{% load static %}

{% block body %}
<section style="background: url({% static 'img/tri1.jpg' %}); background-size: cover; background-position: center center" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 text-center">
        <h1 class="text-capitalize text-right" style="font-family:sans-serif;">welcome to tri education</h1>
        <a href="#" class="hero-link">
          
          <li class="text-capitalize text-center list-inline-item"><i style="font-family: fantasy;">check out our youtube channel</i><i class="fa fa-youtube"></i></li>
          </a>
      </div>
    </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
  </div>
</section>

<!-- Intro Section-->
<section class="intro " style="background-color:whitesmoke;">
  <div class="container">
    <div class="row">
      <div class=" col-lg-12 text-center">
        <h2 class="h3">Some great intro here</h2>
        <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    {% for obj in object_list %}
    <div class="row d-flex align-items-stretch">
      {% if not forloop.first and not forloop.last %}
      <div class="image col-lg-5"><img src="{{obj.thumbnail.url}}" alt="..."></div>
      {% endif %}
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for cat in obj.categories.all %}
                <a href="#">{{ cat }}</a>
              {% endfor %}
              </div>
              <a href="post.html">
                <h2 class="h4">{{obj.title}}</h2>
              </a>
            </header>
            <p>{{obj.overview}}</p>
            <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{obj.author.profile_pic.url}}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{obj.author.user.username}}</span></div></a>
              <div class="date"><i class="icon-clock"></i> {{obj.timestamp|timesince}} ago</div>
              <div class="comments"><i class="icon-comment"></i>{{obj.comment_count}}</div>
            </footer>
          </div>
        </div>
      </div>
      {% if forloop.first or forloop.last %}
      <div class="image col-lg-5"><img src="{{obj.thumbnail.url}}" alt="..."></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- Divider Section-->
<section style="background: url({% static 'img/tri2.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="." method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Type your email address">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">    
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'img/tri1.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/tri1.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'img/tri3.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/tri3.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'img/eunice.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/eunice.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'img/eunice2.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/eunice2.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
    </div>
  </div>
</section>

{% endblock body %}